table,
tr,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
.main_container{
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}
.disclaimer{
    margin-right: 10%;
    width: 45%;
}
.frm{
    flex-direction: column;
    width: auto;
}
.bottoni > input{
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}