table, tr, td{
    border: 1px solid #333;
}

thead, tfoot {
    background-color: #333;
    color: #fff;
}

/* ------------------- */
.main_container{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
/*
.disclaimer{
    margin-right: 10%;
    width: 45%;
}
*/
/* ------------------- */

/* ------- form ------ */
.frm{
    flex-direction: column;
    width: auto;
}
.bottoni > input{
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    margin: 2px;
}
/* ------------------- */

/* --- php response --- */
td, tr {
	width: fit-content;
}

table {
    width: 50%;
}

#responsecontainer, table *{
	text-align: center;
    /*margin: 5%;*/
}
/* ------------------- */